@media (min-width: 1920px) {



  .video .main-slider__right {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {

  .video .main-slider__right {
    margin-left: 70px;
  }
  .main-slider__right-text2 {
    margin-left: 265px;
    margin-top: 75px;
  }
  .main-slider__right-text3 {
    margin-left: 420px;
    margin-top: 10px;
  }
  .content-program__purchase-left {
    font-size: 18px;
    height: 26px;
  }
  .search-result {
    font-size: 30px;
  }
  .search-filter__box .select-current {
    padding-right: 192px;
  }
}

@media(min-width: 769px) {
  .footer-menu span, .menu-logon {
    display: none;
  }
  .main-slider__item {
    padding: 0 10px;
  }
}

@media (max-width: 1920px) {

  .content-subscription__text {
    span {
      font-size: 16px;
    }
  }

}

@media (max-width: 1200px) {
  .about__title {
    font-size: 8vw;
  }
  .partners__block-upload .header-subscribe__btn {
    margin-top: 3vw;
  }
  .block-upload__function-text {
    margin-bottom: 2vw;
    font-size: 1.5vw;
    padding-left: 4vw;
    background-size: 2vw;
  }
  .block-upload__video-play {
    width: 4vw;
    height: 4vw;
    top: 7vw;
    left: 14vw;
    background-size: 3.5vw;
  }
  .block-upload__function {
    margin-left: 6vw;
    margin-top: 0.5vw;
  }
  .block-upload__video {
    width: 35vw;
    height: 17vw;
  }
  .partners__block-upload {
    margin-top: 8vw;
    margin-bottom: 8vw;
  }
  .partners__row-banner {
    height: 35vw;
    background-size: 159vw;
  }
  .partners__banner-text{
    padding-top: 9vw;
  span {
    font-size: 5vw;
  }
   p {
    width: 58vw;
    margin-top: 1vw;
     font-size: 1.4vw;
  }
  }
.partners__brands .slick-list {
    margin: 0 auto;
    width: 81vw;
  }
  .partners__brands .content-speaker__gallery .slick-prev {
    left: 25px;
  }
  .partners__brands .content-speaker__gallery .slick-next {
    right: 25px;
  }
  .partners__advantages {
    padding-top: 5vw;
  }
  .partners__advantages-box {
    font-size: 1.5vw;
    width: 21vw;
    img {
      padding-bottom: 4vw;
    }
  }
  .partners__block2-text {
    width: 54vw;
    span {
      font-size: 5vw;
      margin-top: 1vw;
      margin-bottom: 3vw;
    }
    p {
      font-size: 1.5vw;
      line-height: 2vw;
    }
  }
  .partners__block2-image2 {
    bottom: 3vw;
    left: 3vw;
  }
  .partners__row-advertising {
    height: 35vw;
  }
  .partners__advertising-title {
    top: -7vw;
  }
  .partners__block2-video {
    width: 35vw;
    margin-top: 3vw;
    margin-right: 4vw;
img {
      border-radius: 1vw;
    }
  }
  .block2-items__time {
    padding-left: 3vw;
    font-size: 1.5vw;
    bottom: 1.5vw;
    left: 1.5vw;
    background-size: 2vw;
  }
  .block2-items__play {
    width: 4vw;
    height: 4vw;
    bottom: 8vw;
    left: 17vw;
    background-size: 3.5vw;
  }

  .block2-items__close-lock {
    top: 2vw;
    right: 4vw;
    width: 2vw;
    height: 2vw;
    background-size: 1vw;
  }
  .block2-items__close-cross {
    top: 2.2vw;
    right: 2vw;
    width: 1vw;
    height: 1.5vw;
    background-size: 1vw;
  }
  .partners__advertising-title {
    font-size: 3vw;
    margin-top: 8vw;
  }
  .partners__row-main {
    height: 36vw;
    background-size: 164vw;
  }
  .partners__block-post {
    border-radius: 0.5vw;
    width: 47vw;
    height: 15vw;
    padding-left: 3vw;
  }
  .partners__block-text {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1.5vw;
   img {
      bottom: 0.5vw;
      left: 1vw;
     width: 2vw;
    }
  }
  .partners__block-link {
    font-size: 2.5vw;
  }
  .partners__row-slogan {
    font-size: 5vw;
    line-height: 6vw;
    width: 67vw;
    padding-top: 10vw;
  }
  .user-update .content-recommended__box {
    margin-left: 1.48vw;
    img {
      border-radius: 0.7vw;
    }
  }
  .user-update .content-recommended__link {
    top: 11vw;
    right: 2vw;
  }
  .user-connected__block {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .user-connected__box {
    margin-bottom: 30px;
  }
  .user-card__block {
    width: 100%;
  }
  .user-custumer__banner p {
    font-size: 3vw;
    line-height: 3vw;
    width: 42vw;
    top: 11vw;
    right: 9vw;
  }
  .user-custumer__banner span {
    font-size: 1.5vw;
    line-height: 2vw;
    margin-top: 2vw;
  }
  .user-custumer__banner img {
    border-radius: 0.7vw;
  }
  .user-custumer__blocks-info {
    width: 23vw;
    height: 13vw;
    border-radius: 0.5vw;
    font-size: 2.5vw;
    line-height: 3vw;
    padding-top: 3vw;
    padding-left: 3vw;
  }
  .blocks-info__small {
    font-size: 2.5vw;
    line-height: 3vw;
  }

  .settings-subscribe__properties-edit {
    margin-top: 2.5vw;
  }
  .settings-subscribe__activation {
    margin-left: 5vw;
  }
  .settings-subscribe__properties-filter {
    margin: 2.5vw 1vw 0 4vw;
    width: 2vw;
  }
  .user-custumer__settings-subscribe {
    width: 32vw;
    height: 16vw;
  }
  .settings-subscribe__properties-text {
    font-size: 1.5vw;
    margin-top: 3vw;
    margin-left: 3vw;
  }
  .user-custumer .user-cabinet__title-text {
    margin-bottom: 1vw;
    margin-left: 1vw;
  }
  .user-custumer__settings-requisites {
    width: 63vw;
    height: 16vw;
    margin-right: 1.5vw;
  }
  .settings-requisites__image img {
    margin-top: 2.5vw;
    margin-left: 2.5vw;
    width: 11vw;
  }
  .settings-requisites__phone {
    margin-left: 3vw;
    margin-top: 4vw;
    font-size: 1.3vw;
    line-height: 4vw;
    width: 21vw;

    img {
      margin-right: 1vw;
      width: 1.5vw;
    }
  }
  .settings-requisites__mail-edit {
    width: 2vw;
  }
  .settings-requisites__mail-link {
    margin-top: 2vw;
    font-size: 1.4vw;
    line-height: 2vw;
  }
  .settings-requisites__mail-icon {
    margin-left: 4vw;
    margin-right: 1vw;
    margin-top: 2.5vw;
    width: 2vw;
  }
  .settings-requisites__phone span {
    font-size: 2vw;
  }
  .activate-speakers__box {
    width: 17vw;
    margin-right: 1vw;
  }
  .sidebar-subscribe__text {
    font-size: 3vw;

    span {
      font-size: 1.5vw;
    }
  }
  .sidebar-subscribe__link {
    left: 4.5vw;
    bottom: 2vw;
    padding: 1.5vw 4vw;
    font-size: 1vw;
  }
  .frame {
    width: 90vw;
    height: 39vw;
    background-size: 90vw;
    margin: 50px auto;
  }
  .frame__view {
    margin-left: 3vw;
  }
  .frame__view-next {
    margin-left: 1vw;
    font-size: 1.5vw;
  }
  .frame__text {
    padding-top: 10vw;
    font-size: 3vw;

    span {
      font-size: 1.5vw;
    }
  }
  .rating {
    width: 43vw;
    margin: auto;
  }
  .rating:not(:checked) > label {
    width: 8vw;
    font-size: 6vw;
  }
  .rating > input:checked ~ label {
    font-size: 6vw;
  }
  .frame__items {
    margin-top: 3vw;
    margin-bottom: 11vw;
    margin-left: 26vw;
  }
  .frame__items-link {
    padding: 1vw 1vw 1vw 3.5vw;
    background-size: 2vw;
    font-size: 1vw;
  }
  .frame__items-link:hover {
    background-size: 2vw;
  }
  .frame__items li {
    margin-right: 1vw;
  }
  .video__content-items {
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    width: 30.8vw;
  }
  .content-subscription {
    height: 108px;
    border-radius: 0.6vw;
  }
  .content-recommended__box {
    width: 30vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
  }
  .content-recommended__link {
    top: 10vw;
    right: 2vw;
  }
  .sidebar__video-box {
    margin-bottom: 9vw;
  }
  .sidebar__box-link {
    top: 13vw;
    left: 11vw;
  }
  .speaker__sidebar-link {
    width: 22vw;
    height: 4vw;
    font-size: 1.5vw;
    line-height: 4vw;
    border-radius: 0.5vw;
  }
  .sidebar__video-text {
    font-size: 1.9vw;
    bottom: 1vw;
    margin-left: 3vw;
  }
  .speaker__sidebar {
    width: 22vw;
  }
  .speaker__sidebar-bookmark {
    font-size: 1.5vw;
  }
  .speaker__sidebar-bookmark::before {
    margin-right: 1vw;
  }
  .speaker__personal-characteristic li {
    padding-right: 6vw;
    padding-top: 1.4vw;
    padding-bottom: 1.4vw;
  }
  .speaker__personal-photo {
    margin-right: 2vw;
    width: 22vw;
  }
  .speaker__block-subscribe {
    margin-right: 2.5vw;
  }
  .main-slider__arrows .slick-prev {
    left: 4vw;
    top: -18vw;
  }
  .main-slider__arrows .slick-next {
    right: 4vw;
    top: -18vw;
  }
  .content-selection__box-title {
    top: 2.5vw;
    left: 3vw;
    width: 50%;
  }
  .content-selection__box-year {
    top: 9.5vw;
    left: 6.5vw;
  }
  .content-selection__box-link {
    top: 12vw;
    left: 6.5vw;
  }
  .content-selection__gallery .slick-next {
    right: 4vw;
    top: 7vw;
  }
  .content-selection__gallery .slick-prev {
    left: 3vw;
    top: 7vw;
  }
  .subscription-gallery__images {
    margin-right: 1vw;
  }
  .search-filter__box .select-current {
    padding-right: 16vw;
  }
  .content-program__purchase-right {
    font-size: 2vw;
  }
  .header {
    margin-bottom: 0;
  }
  .main-slider__right {
    margin-right: 10vw;
    margin-left: 13vw;
    margin-bottom: 0;
    width: 48%;

    span {
      margin-left: 10.5vw;
    }
  }
  .main-slider__right-text {
    width: 40vw;
  }
  .main-slider__left {
    margin-left: 9vw;
    margin-top: 24vw;
  }
  .video .main-slider__title {
    top: 3vw;
  }
  .video .main-slider__right {
    margin-right: 0;
    margin-left: 22vw;
    margin-top: 6vw;
    width: 53%;
  }
  .video .main-slider__right-text3 {
    margin-left: 13vw;
    margin-top: 1vw;
    width: 30%;
  }
  .video .main-slider__link {
    left: 18vw;
    top: 7vw;
  }
  .search-filter__box::after {
    top: -2vw;
    left: 19vw;
  }
  .content-podcast__box {
    width: 31vw;
  }
  .activate-header .header-search__field {
    width: 35vw;
  }
  .activate-header .header-search__form {
    margin-right: 2vw;
  }
  .activate-header .header-menu__links {
    margin-top: 0;
  }
  .user-custumer__menu-items {
    margin-left: 3.5vw;
  }
  .header-search__form {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .rating {
    width: 44vw;
  }
  .subscription-video__view-link, .speaker__sidebar-link {
    background: url(../img/play.svg) no-repeat 1.5vw,#0038FF;
  }
.speaker__box-name .speaker__bookmarks-time::before {
    right: 70px;
  }
  .partners__brands .content-speaker__gallery {
    width: auto;
    margin-left: 0;
    img{
      margin: auto;
    }
  }
  .registration-pay__way {
    margin: auto;
    width: 90%;
  }
  .registration-pay__card {
    margin: auto;
  }
  .registration-pay__cvc {
    position: unset;
    margin: 35px auto;
  }
  .registration-pay__inner {
    flex-direction: column;
  }
  .registration__title-step, .registration__title-step2, .registration__title-step3 {
    margin-left: 120px;
  }
  .registration__title-step::before {
    right: -114px;
  }
  .registration__title-step2::after {
    right: -115px;
  }
  .user-update .content-recommended__link {
    width: 10vw;
    height: 3vw;
    font-size: 1.5vw;
    line-height: 2.8vw;
  }
  .user-purchases .subscription-comments__video-autoplay {
    font-size: unset;
  }
  .user-purchases__block-buy {
    margin-left: 3vw;
  }
  .user-purchases__buy-text {
    font-size: 2vw;
    line-height: 2vw;
  }
  .user-purchases__buy-link {
    margin-top: 4vw;
    border-radius: 0.3vw;
    font-size: 1.3vw;
    width: 9vw;
    height: 3vw;
    line-height: 3vw;
  }
  .user-purchases__buy-date {
    font-size: 1.5vw;
    margin-top: 2vw;
  }
  .user-purchases__buy-time {
    margin-top: 2vw;
    padding-left: 2.5vw;
    font-size: 1.5vw;
    background-size: 1.5vw;
  }
  .user-purchases__block-play {
    margin-top: 4vw;
    width: 10vw;
  }
  .user-purchases__block-image {
    width: 35vw;
  }

  .user-certificate__title {
    font-size: 5vw;
    margin-top: 1vw;
  }
  .user-connected__subtitle {
    font-size: 6vw;
  }
  .settings-subscribe__properties-edit img {
    width: 2vw;
  }
  .user-custumer .user-cabinet__title-text {
    font-size: 2vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
  }
  .user-custumer .user-menu__title-link {
    font-size: 1.3vw;
  }
  .user-cabinet__amount {
    font-size: 1.83vw;
  }
  .user-cabinet__amount {
    font-size: 2vw;
    padding-left: 3vw;
    margin-left: 2vw;
    margin-bottom: 2.5vw;
    background-size: 2vw;
  }
  .user-custumer__menu {
    margin-left: 0;
    margin-top: 0;
  }
  .user-custumer__menu-links {
    font-size: 1.55vw;
    line-height: 4vw;
  }
  .user-custumer__menu-items {
    margin-left: 2.5vw;

    img {
      width: 2vw;
    }
  }
  .user-cabinet__amount-cross {
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    width: 1.9vw;
  }
  .speaker-video__section {
    margin-right: 0;
    width: 100%;
  }
  .activate-speakers__box {
    width: 19vw;
    margin-right: 6.5vw;
  }
  .activate-speakers__box-text {
    font-size: 2vw;
    line-height: 3vw;

    span {
      font-size: 1.2vw;
      line-height: 2vw;
    }
  }
  .activate-speakers__box .speaker__bookmarks-time::before {
    background-size: 2vw;
  }
  .activate-speakers__box .speaker__bookmarks-like::after {
    background-size: 2.5vw;
  }
  .sidebar-subscribe {
    margin: 50px auto;
    width: 262px;
  }
  .speaker-video__buy {
    width: 83vw;
    margin: 20px auto;
  }
  .speaker-video__content {
    flex-direction: column;
  }
  .search-filter__title {
    align-items: flex-end;
  }
  .activate-header .header-search__field {
    width: 30vw;
  }
  .header-search__field {
    border-radius: 0.3vw;
    padding-left: 1vw;
    padding-right: 7vw;
    width: 44vw;
    height: 4vw;
  }
  .activate-header .header-logo {
    width: 37vw;
  }
  .activate-header .header-search {
    align-items: center;
    display: flex;
    margin: 0 auto 0 0;
  }
  .header-menu__links {
    margin-top: 8px;
  }
  .speaker__bookmarks-time::before {
    right: 7vw;
  }
  .speaker__block-video {
    margin-top: 20px;

    span {
      padding-right: 4vw;
    }
  }
  .content-podcast__box {
    width: 30vw;
  }
  .content-podcast__box-link {
    font-size: 2vw;
  }
  .speaker__subscribe-link {
    width: 56%;
  }
  .speaker__subscribe-text {
    display: block;
  }
  .speaker__block-image {
    width: 100%;
  }
  .speaker__bookmarks-time {
    margin-right: 12vw;
  }
  .speaker__block-subscribe {
    margin-left: 1vw;
    margin-right: 2vw;
  }
  .subscription-comments__video-autoplay {
    font-size: 1.4vw;
  }
  .speaker__personal-items {
    width: 19vw;
    font-size: 1.5vw;
  }
  .speaker__progress {
    font-size: 1.5vw;
  }
  .sidebar__box-link {
    top: 11vw;
  }
  .speaker__personal-characteristic li {
    padding-right: 3vw;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
  }
  .speaker__personal-characteristic a {
    font-size: 1.8vw;
  }
  .subscription-share__right {
    font-size: 2vw;
  }
  .subscription-share__link {
    margin-right: 1vw;
  }
  .block-headline__text {
    font-size: 3.5vw;
  }
  .subscription-comments__items {
    width: 55%;
    margin-right: 5vw;
  }
  .subscription-gallery__images::before {
    left: 15vw;
    top: 6vw;
  }

  .search-filter__box .select-current {
    padding-right: 7vw;
  }
  .search-filter__option {
    background: url(../img/sliders2.svg) no-repeat 0px 10px;
    padding-left: 2.5vw;
  }

  .main-slider .slick-prev {
    top: 18vw;
    left: 7vw;
  }
  .main-slider .slick-next {
    top: 18vw;
    right: 7vw;
  }

  .main-slider__left {
    margin-top: 23vw;
  }
  .main-slider__link {
    width: 19vw;
    height: 5vw;
    line-height: 5vw;
    border-radius: 0.5vw;
    font-size: 1.5vw;
  }
  .main-slider__right {
    margin-left: 14vw;

    span {
      margin-left: 10.5vw;
      font-size: 2.5vw
    }
  }
  .content-block__title {
    font-size: 2.5vw;
  }
  .content-speaker__gallery {
    width: 90%;
    margin-left: 5vw;
  }
  .content-speaker__box {
    width: 16vw;

    span {
      font-size: 1.6vw;
    }
  }
  .content-speaker__gallery .slick-prev {
    top: 10vw;
    left: -4vw;
  }
  .content-speaker__gallery .slick-next {
    top: 10vw;
    right: -3vw;
  }
  .content-podcast__box {
    margin-right: 1vw;
  }
  .footer-menu__items {
    font-size: 2vw;
  }
  .subscription-description__characteristic {
    width: 136%;
  }
  .subscription-comments__items-like {
    padding-left: 3.7vw;
  }
  .subscription-comments__items-dislike {
    padding-left: 3.7vw;
  }
  .content-subscription__text {
    font-size: 2vw;

    span {
      font-size: 1.6vw;
    }
  }
  .content-subscription__link {
    font-size: 1.5vw;
    width: 13vw;
    height: 5vw;
  }
  .content-subscription {
    height: 10vw;
  }
  .speaker__sidebar-link {
    line-height: 4vw;
    background-size: 2vw;
  }
  .content-program__purchase-right {
    margin-left: 18vw;
    span{
      font-size: 2vw;
    }
  }
  .header-search__sliders {
    top: 0.6vw;
    right: 4vw;
    width: 1.5vw;
  }
  .header-search__btn {
    right: 1.3vw;
    top: 0.6vw;
    width: 1.5vw;
  }
  .header-subscribe__btn {
    height: 41px;
    width: 24vw;
    font-size: 1.5vw;
  }
  .search-filter__title-text {
    font-size: 4vw;
  }
  .activate-search {
    top: 101px;
  }

  .sidebar-subscribe__text {
    font-size: 32px;
    top: 50px;

    span {
      font-size: 16px;
    }
  }

  .sidebar-subscribe__link {
    left: 50px;
    bottom: 40px;
    padding: 10px 40px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .rating {
    width: 45vw;
  }
  .subscription-description__characteristic-information {
    top: 419px;
    margin-left: -167px;
    width: 94vw;
  }
  .content-recommended__box {
    width: 45vw;
  }
  .content-recommended__link {
    width: 13vw;
    height: 4vw;
    border-radius: 0.5vw;
    font-size: 1.6vw;
    line-height: 4vw;
    top: 18vw;
  }
  .speaker__name-text {
    font-size: 3vw;
    span {
      font-size: 1.5vw;
    }
  }
  .speaker__box-name {
    margin-left: 4vw;
  }
  .partners__advantages {
    justify-content: space-around;
  }
  .partners__advantages-box {
    font-size: 2vw;
    width: 24vw;
    margin: 0;
img {
      width: 3vw;
      margin: 0 auto;
    }
  }
  .partners__block-post {
    margin-right: 1vw;
    &:last-child{
      margin-right: 0;
    }
  }
  .registration-pay__field-two {
    margin-right: 4vw;
  }
  .registration-pay__card {
    width: 100%;
    height: 45vw;
    border-radius: 0.5vw;
    padding-left: 6vw;
    padding-top: 4vw;
  }
  .registration-pay__cvc {
    width: 100%;
    height: 45vw;
    border-radius: 0.5vw;
  }
  .registration-pay__cvc-left {
    width: 73.5%;
    height: 7vw;
  }
  .registration-pay__cvc-row {
    width: 100%;
    height: 10vw;
    margin-top: 10vw;
  }
  .registration-pay__cvc-code {
    width: 17vw;
    height: 7vw;
    border-radius: 0.5vw;
    font-size: 3vw;
    text-indent: 3vw;
    margin-left: 4.5vw;
  }
  .registration-pay__cvc-input {
    width: 7vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 1vw;}
  .registration-pay__cvc-text {
    width: 19.5vw;
    font-size: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 1vw;
    line-height: 2vw;
  }
  .registration-pay__card-text {
    font-size: 2vw;
    margin-bottom: 1vw;
  }
  .stick::after {
    width: 1px;
    height: 3vw;
    top: 2vw;
    left: 13vw;
  }
  .registration-pay__way {
    margin: auto;
    width: 75%;
  }
  .registration-pay__card-field {
    width: 93%;
    height: 7vw;
    font-size: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    &::placeholder{
      font-size: 2vw;
    }
  }
  .registration-pay__field-two {
    width: 12%;
  }
  .registration__modal-sms {
    width: 80vw;
    height: 57vw;
    padding-top: 3vw;
  }
  .registration__modal-sms .registration-modal__btn {
    width: 58vw;
    height: 8vw;
  }
  .registration__modal-sms .registration-modal__title {
    margin-top: 4vw;
  }
  .registration__modal-sms .registration-modal__information {
    width: 58vw;
    margin: 5vw auto 0;
    &::placeholder{
     line-height: 10;
    }
  }
  .registration-modal__title-text {
    font-size: 2.5vw;
  }
  .registration-modal {
    width: 74vw;
    height: 90vw;
    padding-top: 5vw;
  }
  .registration-modal__title {
    font-size: 4vw;
  }
  .registration-modal__information {
    width: 50vw;
    height: 7vw;
    border: 1px solid #999999;
    margin: 3vw auto 0;
    padding: 1vw;
    font-size: 2vw;
    &::placeholder{
      padding-left: 3vw;
      font-size: 3vw;
    }
  }
  .registration-modal__btn {
    border-radius: 0.5vw;
    width: 50vw;
    height: 7vw;
    margin: 3vw auto 0;
  }
  .registration-modal__btn-link {
    font-size: 3vw;
  }
  .registration-modal .fancybox-close-small{
    right: 5vw;
    top: 2vw;
    width: 6vw;
    height: 7vw;
  }
  .registration__modal-sms .fancybox-close-small {
    right: 3vw;
  }
  .registration-modal .fancybox-close-small:before, .registration-modal .fancybox-close-small:after, .registration__modal-sms .fancybox-close-small:before, .registration__modal-sms .fancybox-close-small:after{
    left: 15px;
    height: 5vw;
    width: 0.5vw;
  }
  .registration-modal__text {
    font-size: 3.5vw;
    margin: 2vw auto 0;
  }
  .user-help__content {
    flex-wrap: wrap;
  }
  .user-help__section {
    width: 87%;
    margin: auto;
  }
  .user-help__sidebar {
    margin:60px auto 0;
  }
  .user-update__box {
  img {
      width: 11vw;
    }
  p {
      font-size: 4vw;
      margin-left: 4vw;
    margin-top: 2vw;
    }
    span {
      font-size: 2vw;
    }
  }
.user-update .content-recommended__box {
  width: 46.5vw;
  &:not(:nth-child(3n+1)){
    margin: auto;
  }
  &:not(:nth-child(3n)){
    margin: auto;
  }
  span {
    font-size: inherit;
  }
  img {
    outline: none;
    border-radius: 1vw;
  }
}
  .user-update .content-recommended__right{
    font-size: 10px;
    line-height: 17px;
    padding-left: 33px;
  }
  .user-update .content-recommended__link {
    width: 15vw;
    height: 5vw;
    font-size: 2vw;
    line-height: 4.8vw;
    top: 17vw;
    right: 3vw;
  }
  .user-update__mark-new {
    width: 5vw;
    height: 5vw;
    margin-right: 3vw;
    line-height: 5vw;
  }
  .user-story .speaker__subscribe-bookmark {
    margin-top: 6vw;
  }
  .user-story .speaker__subscribe-text {
    display: block;
  }
  .user-story .speaker__subscribe-link {
    width: 94%;
  }
  .user-story .speaker__bookmarks-time {
    font-size: 2vw;
  }
  .user-story__date {
    font-size: 2vw;
    margin-right: 10vw;
  }
  .user-purchases .subscription-comments__video-autoplay {
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    span {
      display: contents;
    }
  }
  .user-purchases  .subscription-comments__autoplay-toggle:before {
    width: 2.5vw;
    height: 2.5vw;
  }
  .user-purchases .subscription-comments__autoplay-toggle {
    width: 6vw;
    height: 3vw;
  }
  .user-purchases .subscription-video__view-link {
    width: 35vw;
  }
  .user-purchases__block-image span {
    top: 3vw;
    padding: 0.1vw 1vw;
    font-size: 1.5vw;
  }
.user-title2 {
   font-size: 2.5vw;
   margin-top: 6vw;
   margin-bottom: 2vw;
   img {
     width: 6vw;
     padding-right: 2.2vw;
   }

  }
  .user-profile2__block-photo img {
    width: 35vw;
  }
  .user-profile2 .user-profile__application-form {
    width: 59vw;
    span {
    width: 55%;
  }
  }
  .user-profile2 .user-profile__application-form__items {
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-size: 3vw;
  }
  .user-profile2__save-link {
    border-radius: 0.5vw;
    font-size: 2vw;
    width: 35.5vw;
    height: 6vw;
  }
  .user-profile__person-name {
    font-size: 7vw;
    margin-top: 1vw;
  }
  .user-profile__person-phone {
    margin-top: 1.3vw;
    margin-left: 1vw;
    padding-left: 3vw;
    font-size: 2vw;
    background-size: 2vw;
  }
  .user-profile__person-mail {
    margin-top: 1.7vw;
    margin-left: 10vw;
    padding-left: 5vw;
    line-height: 2vw;
    font-size: 2vw;
    background-size: 3vw;
  }
  .user-profile__person-phone .user-profile__edit, .user-profile__person-mail .user-profile__edit {
    width: 2vw;
    margin-left: 2vw;
  }
  .user-profile__photo {
    margin-top: 1vw;
    margin-right: 0;
  }
  .user-profile__photo-personal {
    width: 17vw;
  }
  .user-profile__photo-delete {
    right: 8.5vw;
    top: 6.5vw;
  }
  .user-profile__photo-delete:before, .user-profile__photo-delete:after {
    height: 4vw;
    width: 0.2vw;
  }
  .user-profile__application-form {
    margin-top: 8vw;
  }
  .user-certificate__subtitle {
    margin-bottom: 3vw;
    margin-top: 10vw;
  }
  .user-certificate__append-link {
    border-radius: 0.5vw;
    width: 20vw;
    height: 5.5vw;
    line-height: 5.5vw;
    font-size: 2vw;
  }
  .user-certificate__append .search-filter__field::placeholder {
    font-size: 2vw;
    bottom: 10px;
  }
  .user-certificate__text {
    font-size: 2vw;
  }
  .user-certificate__block {
    height: 19vw;
    border-radius: 0.5vw;
    margin-bottom: 50vw;
  }
  .user-certificate__person {
    width: 17vw;
    height: 9.5vw;
    margin-top: 4.5vw;
    margin-left: 4.5vw;
    border-radius: 0.5vw;

    img {
      margin-top: 2vw;
      margin-left: 6.5vw;
      width: 4.5vw;
    }
  }
  .user-certificate__findings {
    font-size: 4vw;
    margin-top: 3.5vw;
    margin-left: 3.5vw;

    span {
      font-size: 2vw;
      margin-top: 1vw;
    }
  }
  .user-certificate__date {
    font-size: 1.5vw;
    margin-top: 10.5vw;
    margin-left: 4vw;

    span {
      font-size: 2vw;
      margin-left: 1vw;
    }
  }
  .user-certificate__use {
    margin-top: 5vw;
    font-size: 2vw;

    img {
      margin-right: 1vw;
      width: 3vw;
    }
  }
  .user-custumer__blocks-info img {
    margin-right: 2vw;
    width: 2vw;
  }
  .user-custumer__blocks-info span {
    font-size: 2.1vw;
  }
  .user-custumer__blocks-info p {
    margin-top: 2vw;
    margin-left: 4vw;
  }
  .blocks-info__small {
    font-size: 2vw;
  }
  .user-custumer__banner-subtitle {
    font-size: 3vw;
    line-height: 3vw;
    margin-bottom: 3vw;
  }
  .user-card__block {
    height: 18.5vw;
  }
  .user-card__block-name {
    border-radius: 0.5vw;
    width: 18vw;
    height: 9vw;
    margin-top: 4.5vw;
    margin-left: 5vw;
    padding-left: 6vw;
    padding-top: 1.3vw;

    img {
      width: 6vw;
    }
  }
  .user-card__block-number {
    font-size: 2.5vw;
    line-height: 2vw;
    margin-left: 3vw;
    margin-top: 4vw;

    span {
      font-size: 4vw;
      line-height: 4vw;
    }

    &::after {
      width: 4vw;
      height: 4vw;
      top: 0.5vw;
      right: -6vw;
      background-size: 3vw;
    }

    p {
      margin-top: 3vw;
    }
  }
  .user-card__block-date {
    font-size: 1.5vw;
    line-height: 1vw;
    margin: 11vw 7vw 0 auto;
  }
  .user-card__block-cvc {
    font-size: 1.5vw;
    line-height: 2vw;
    margin-top: 10.5vw;
    margin-right: 4vw;
  }
  .user-card__block-cvc span {
    font-size: 2vw;
    line-height: 2.5vw;
    margin-left: 1.5vw;
  }
  .user-card__block-cvc .settings-requisites__mail-edit {
    top: -7vw;
    right: 0.4vw;
  }
  .user-card__append {
    flex-direction: column;
  }
  .user-card__append-text {
    text-align: center;
    margin-bottom: 17px;
  }
  .user-card__append-link {
    margin: auto;
  }
  .user-card__block-date span {
    font-size: 2vw;
    line-height: 1.5vw;
    margin-left: 1.5vw;
  }
  .settings-requisites__phone {
    font-size: 2.2vw;
    width: 35vw;
    line-height: 8vw;

    img {
      width: 2vw;
    }
  }
  .settings-requisites__phone span {
    font-size: 3.5vw;
  }
  .settings-requisites__mail {
    width: 38vw;
  }
  .settings-requisites__mail-link {
    font-size: 2.4vw;
    line-height: 3vw;
    margin-top: 22px;
  }
  .settings-requisites__image img {
    width: 17vw;
  }
  .settings-requisites__mail-icon {
    margin-top: 30px;
    width: 3vw;
  }
  .user-custumer__settings-subscribe {
    width: 100%;
    border-radius: 0.5vw;
    height: 21vw
  }
  .settings-subscribe__properties-text {
    font-size: 2.5vw;
  }
  .settings-subscribe__properties-filter {
    margin-left: auto;
    width: 2.5vw;
  }
  .settings-subscribe__properties-edit {
    margin: 2.5vw;
  }
  .settings-subscribe__activation {
    margin-left: 9vw;
    margin-top: 3vw;
    display: flex;
    font-size: 3vw;

    span {
      margin-left: auto;
      padding-right: 3vw;
    }
  }
  .settings-subscribe__activation::before {
    left: -9px;
    top: 6px;
  }
  .user-custumer__settings-subscribe {
    margin-left: 0;
    margin-top: 2vw;
  }
  .user-custumer__settings {
    flex-direction: column;
  }
  .user-custumer__settings-requisites {
    width: 100%;
    height: 22vw;
    margin-right: 0;
  }
  .user-custumer__menu-items img {
    width: 3vw;
  }
  .user-row {
    height: 25vw;
  }
  .user-custumer__menu {
    margin-top: 5vw;
  }
  .user-custumer__menu-links {
    font-size: 2.1vw;
  }
  .user-custumer .user-cabinet__title-text {
    font-size: 3.5vw;
    line-height: 3vw;
    margin-left: 3vw;
  }
  .user-custumer .user-menu__title-link {
    font-size: 2vw;
  }
  .user-cabinet__amount {
    font-size: 2.5vw;
    line-height: 3vw;
    padding-left: 4vw;
    background-size: 2.5vw;
  }
  .user-custumer {
    flex-direction: column;
  }
  .user-custumer__menu-items {
    margin-left: 0;
    margin-right: 2.5vw;
  }
  .user-cabinet__news {
    top: 166px;
    right: 89px;
  }
  .user-custumer__menu {
    margin-top: 2vw;
  }
  .activate-speakers__box {
    width: 22vw;
    margin-right: 1.5vw;
  }
  .activate-speakers__box .speaker__bookmarks-time::before {
    right: 5vw;
  }
  .activate-speakers__box .speaker__bookmarks-like::after {
    right: 1vw;
    top: 0;
  }
  .activate-speakers__box-number {
    top: 3vw;
    right: 2vw;
    font-size: 2vw;
  }
  .speaker-video__buy-text {
    font-size: 3vw;
    width: 35vw;
    top: 3vw;
    right: 12vw;
    line-height: 3.5vw;
  }
  .speaker-video__buy-link {
    font-size: 2vw;
    line-height: 5vw;
    right: 4vw;
    bottom: 3vw;
    width: 15vw;
  }
  .speaker-video__buy-text span {
    font-size: 2vw;
  }
  .speaker-video__buy-time {
    right: 21vw;
    bottom: 4.5vw;
  }
  .speaker-video__buy-image {
    border-radius: 1vw;
  }
  .speaker-video__buy-version {
    top: 2vw;
  }
  .speaker-video__box-number {
    width: 23vw;
  }
  .speaker-video__box-text p {
    font-size: 3vw;
  }
  .speaker-video__box-text p span {
    font-size: 2vw;
  }
  .activate-header .header-logo {
    width: 100%;
  }
  .search-filter__title {
    align-items: baseline;
  }
  .activate-index .header-subscribe__btn {
    padding: 16px;
    height: unset;
  }
  .header-subscribe__btn {
    height: 6vw;
    width: 25vw;
    font-size: 1.5vw;
  }
  .activate-header .header-search__form {
    margin-right: 0;
  }
  .activate-header .header-search__field {
    width: 40vw;
  }
  .speaker__sidebar-link {
    font-size: 16px;
    width: 262px;
    margin: 20px auto 0;
    height: 50px;
    line-height: 3;
    background-size: 3vw;
  }
  .frame__items-link {
    padding-left: 4.5vw;
    font-size: 1.6vw;
  }
  .frame__view-next {
    font-size: 2vw;
  }
  .frame__view span {
    font-size: 1.5vw;
  }
  .frame__items {
    margin-top: 2vw;
    margin-bottom: 5vw;
    margin-left: 18vw;
  }
  .frame__view-link {
    img {
      width: 3vw;
    }
  }
  .frame__text {
    font-size: 4vw;
  }
  .frame__text span {
    font-size: 2vw;
  }
  .speaker__sidebar-bookmark {
    align-items: center;
  }
  .video__content-items {
    width: 46.8vw;
  }
  .speaker__sidebar-bookmark::before {
    background-size: 3vw;
    width: 25px;
  }
  .speaker__sidebar-bookmark.active::before {
    background-size: 3vw;
  }
  .speaker__sidebar-view {
    margin: auto;
  }

  .sidebar__video-box {
    margin: auto;
    width: 262px;
  }
  .sidebar__box-link {
    top: 100px;
    left: 121px;

  }
  .sidebar__video-image {
    width: 100%;
  }
  .sidebar__video-text {
    font-size: 22px;

    span {
      font-size: 12px;
    }
  }
  .speaker__subscribe-text {
    display: inline;
  }
  .speaker__block-video {
    margin-top: 1vw;
  }
  .speaker__block-number {
    font-size: 2.5vw;
  }
  .speaker__video-link {
    left: 6.5vw;
    top: 5.5vw;
  }
  .speaker__bookmarks-time {
    margin-right: 11vw;
  }
  .speaker__bookmarks-like::after {
    background-size: 4vw;
    width: 4vw;
    right: 0.1vw;
    height: 4vw;
    top: 0.1vw;
  }
  .speaker__bookmarks-like.active::after {
    background-size: 4vw;
    width: 4vw;
    height: 4vw;
    top: 0.1vw;
  }
  .speaker__bookmarks-time::before {
    background-size: 3vw;
    height: 4vw;
    width: 3vw;
    top: 0.1vw;
    right: 6vw;
  }
  .speaker__bookmarks-time.active::before {
    background-size: 3vw;
    height: 4vw;
    width: 3vw;
    top: 0.1vw;
  }
  .speaker__subtitle p {
    font-size: 3vw;
  }
  .speaker__subtitle-text {
    font-size: 2vw;
  }
  .speaker__block-image {
    width: 15vw;
  }
  .speaker__progress {
    font-size: 2vw;

    span {
      padding: 1vw 2vw;
      margin-left: 1vw;
    }
  }
  .speaker__subscribe-link {
    font-size: 2vw;
    padding: 1vw 0;
    width: 33%;
  }
  .speaker__subscribe-name {
    font-size: 2vw;
  }
  .speaker__subscribe-text {
    font-size: 2vw;
  }
  .speaker__subscribe-year {
    font-size: 1.8vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
  }
  .speaker__bookmarks-time {
    font-size: 2.3vw;
  }
  .speaker__personal-characteristic {
    width: 100%;

    li {
      padding-right: 0;
      padding-top: 2vw;
      padding-bottom: 2vw;
      font-size: 2.3vw;
    }

    a {
      font-size: 2.3vw;
    }
  }
  .speaker__personal-photo {
    width: 58%;
  }
  .speaker__section {
    width: 100%;
  }
  .speaker__sidebar {
    width: 100%;
  }
  .speaker__sidebar-headline {
    margin: 3vw auto;
    width: 20%;
  }
  .speaker__sidebar-bookmark {
    font-size: 2.5vw;
    width: 130%;
  }
  .speaker__content {
    display: flex;
    flex-direction: column;
  }
  .speaker__personal-items {
    font-size: 2vw;
  }
  .content-selection__box-year {
    top: 14.5vw;
    left: 8.5vw;
  }
  .content-selection__box-link {
    top: 18vw;
    left: 8.5vw;
  }
  .subscription-comments__items-like {
    padding-left: 5vw;
  }
  .subscription-comments__items-dislike {
    padding-left: 5vw;
  }
  .subscription-gallery__images::before {
    left: 22vw;
    top: 9vw;
    background-size: 5vw;
  }
  .content-selection__gallery .slick-prev {
    top: 10vw;
    height: 15px;
    width: 10px;
  }
  .content-selection__gallery .slick-next {
    top: 10vw;
    height: 15px;
    width: 10px;
  }
  .subscription-description {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .subscription-description__characteristic {
    margin-bottom: 2vw;
    width: 100%;
  }
  .subscription-description__content {
    text-align: center;
  }
  .subscription-description__characteristic-link {
    margin-top: 6vw;
  }
  .subscription-description__characteristic-items {
    font-size: 2vw;
  }
  .subscription-description__characteristic-items span {
    font-size: 2vw;
  }
  .subscription-comments__area {
    margin: auto;
    display: block;
  }
  .block-headline__bookmark {
    font-size: 2.3vw;
    background-size: 14%;
    padding-left: 3vw;
    align-items: center;
  }
  .subscription__breadcrumb-link {
    font-size: 2.5vw;
  }
  .subscription-share__link {
    font-size: 2vw;
  }
  .subscription-video__view-link {
    font-size: 2vw;
    background-size: 2vw;
    width: 27vw;
    height: 6.5vw;
    border-radius: 0.5vw;
    line-height: 6.5vw;
  }
  .subscription-video__functions .select-current {
    padding: 1vw 4vw 1vw 2vw;
    font-size: 2.5vw;
  }
  .subscription-video__functions .select-current::after {
    height: 0.5vw;
    width: 0.5vw;
    top: 2.5vw;
    right: 2vw;
  }
  .subscription-video__functions .select-label {
    margin-right: 1vw;
    font-size: 2.5vw;
  }
  .subscription-video__functions .subscription-video__language {
    margin-left: 5vw;
  }

  .subscription-video__functions .select-list {
    padding: 2vw;
    top: 81%;
  }

  .subscription-video__functions .select-list__item {
    font-size: 2vw;
  }
  .subscription-comments__video {
    margin-left: 0;
  }
  .video .subscription-comments__video-autoplay {
    padding: 0;
    margin-bottom: 15px;

    span {
      font-size: 2vw
    }
  }
  .video .subscription-video__view {
    margin-right: 6vw;
  }
  .video .subscription-comments__autoplay-toggle {
    width: 6vw;
    height: 3vw;
  }
  .video .subscription-comments__autoplay-toggle:before {
    width: 2vw;
    height: 2vw;
  }
  .video__content {
    text-align: center;
  }
  .video__content-items {
    margin: auto;
  }
  .header-search__sliders {
    top: 0.6vw;
    right: 5vw;
    width: 2vw;
    img {
      width: 89%;
    }
  }
  .search-filter__second {
    font-size: 2vw;
  }
  .search-filter__field {
    font-size: 2vw;
  }
  .search-filter__option {
    padding-left: 3.5vw;
  }
  .search-filter__box::after {
    top: -2.8vw;
  }
  .slick-prev {
    top: 17vw;
    left: 5vw;
  }
  .slick-next {
    top: 17vw;
    right: 5vw;
  }
  .header {
    flex-wrap: wrap;
    height: 145px;
  }
  .header-logo {
    width: 100%;
    margin-top: 2vw;
  }
  .logo {
    padding-left: 1vw;
  }
  .activate-header .header-logo {
    margin-bottom: 0;
  }
  .activate-header .header-search {
    width: 40vw;
    margin-left: 2vw;
  }
  .header-search {
    width: 59vw;
    margin-left: 3vw;
  }
  .search-filter__cross {
    width: 2vw;
    height: 2vw;
  }
  .search-filter__cross:before, .search-filter__cross:after {
    height: 2vw;
    width: 2px;
  }
  .header-search__field {
    padding-right: 9vw;
    padding-left: 1vw;
    height: 35px;
    width: 65vw;
  }
  .main-slider__title {
    top: 30px;
  }
  .slick-dots {
    button {
      height: 8px;
      width: 8px;
      &:focus {
        height: 8px;
        width: 8px;
      }
    }
  }
  .header-user__photo img {
    width: 80%;
  }
  .header-user__bell img {
    width: 100%;
  }
  .header-user__bookmark img {
    width: 100%;
  }
  .header-search__btn {
    position: absolute;
    width: 2vw;
  }
  .content-recommended__person {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content-recommended__box {
    flex: none;
    text-align: center;
  }
.subscription-comments__video  .content-recommended__box {
    margin: auto;
  }
  .content-recommended__text {
    font-size: 2vw;
  }
  .content-subscription__text {
    font-size: 2.5vw;
    line-height: 1;
margin-left: 5vw;
      span {
      font-size: 2vw;
    }
  }
  .content-subscription {
    padding: 0;
  }
  .content-speaker__gallery .slick-prev {
    top: 18vw;
    height: 15px;
    width: 15px;
  }
  .content-speaker__gallery .slick-next {
    top: 18vw;
    height: 15px;
    width: 15px;
  }
  .content-speaker__box span {
    font-size: 2.3vw;
  }
  .content-program {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content-program__purchase {
    width: 73vw;
    margin: 0 auto 3vw;
  }
  .content-program__purchase-right {
    font-size: 3vw;
    margin-left: 25vw;
  }
  .content-program__purchase-left {
    padding: 0 2vw;
    height: 3.5vw;
    font-size: 2.3vw;
  }
  .content-program__purchase-bottom{
    bottom: 3vw;
    right: 3vw;
  span {
    padding-left: 3vw;
    font-size: 2vw;
    padding-right: 2vw;
    background-size: 2vw;
  }
}
  .content-podcast {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content-podcast__box {
    margin: 0 auto 3vw;
    width: 47vw;
  }
  .content-podcast__box-link {
    font-size: 3vw;
  }
  .footer-date {
    font-size: 2vw;
  }
  .footer-social__network img {
    width: 5%;
  }
  .footer-menu {
    padding-left: 0;
  }
  .footer-menu li {
    margin-right: 1vw;
  }
  .footer-menu__items {
    font-size: 3.5vw;
  }
  .footer-menu {
    width: 250px;
    height: 100vh;
    background: #333;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    padding: 15px;
    font-size: 25px;
    z-index: 5;
    color: #fff;
  }
  .footer-menu li {
    margin-bottom: 20px;
  }
  .footer-menu li:last-child {
    margin-bottom: 0;
  }
  .footer-menu span {
    display: block;
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 40px;
    transform: rotate(45deg);
    color: #fff;
  }
  .menu-logon {
    display: block;
    font-size: 20px;
    color: #C4C4C4;

    img {
      padding-right: 1vw;
    }
  }
  .footer-applications {
    width: 53%;
    margin: 0 auto;
  }
  .subscription-comments {
    flex-direction: column;
  }
  .subscription-comments__items {
    width: 100%;
  }
  .subscription-comments__title {
    text-align: center;
    margin-bottom: 4vw;
    font-size: 4vw;
  }
  .subscription-comments__video-autoplay {
    padding: 5vw 0;
    margin: auto;
    display: block;
    font-size: 3vw;

    span {
      display: block;
    }
  }
  .content-selection__box {
    margin-right: 3vw;
  }
  .block-headline__bookmark::before {
    background-size: 3vw;
    width: 3vw;
    height: 4vw;
    margin-right: 1vw;
  }
  .block-headline__bookmark.active::before {
    background-size: 3vw;
    width: 3vw;
    height: 4vw;
    margin-right: 1vw;
  }
  .subscription-comments__video-upload {
    width: 50%;
    margin: auto;
    display: block;
  }
  .content-block {
    justify-content: space-around;
  }
  .activate-header .header-inner {
    margin-bottom: 1vw;
    margin-left: 3vw;
    display: flex;
    width: 100%;
  }
  .content-program__purchase-link {

    font-size: 2vw;
  }
  .registration__title-text {
    font-size: 5vw;
  }
  .registration__title-step, .registration__title-step2, .registration__title-step3 {
    margin-left: auto;
    border: 1px solid #FF0000;
    width: 6vw;
    line-height: 2.5;
    font-size: 2vw;
    height: 6vw;
    margin-top: 1.5vw;
  }
  .registration__title-step::before {
    right: -15vw;
    width: 14vw;
    top: 2.5vw;
  }
  .registration__title-step2::after {
    right: -15vw;
    width: 14vw;
    top: 2.5vw;
  }
  .registration__title {
    margin-top: 3vw;
  }
  .registration__form-title {
    font-size: 3vw;
    margin-top: 4vw;
    margin-bottom: 5vw;
  }
  .registration__form-input {
    width: 45vw;
    height: 7vw;
    border-radius: 0.5vw;
    margin-bottom: 4vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 2vw;
    &::placeholder{
      font-size: 2vw;
    }
  }
  .registration__form {
    width: 100%;
    margin: auto;
  }
  .registration__form-input_phone{
    width: 100%;
    margin-bottom: 2vw;
  }
  .registration__text-confirmation {
    margin-top: 1vw;
    font-size: 2.5vw;
    margin-bottom: 4vw;
  }
  .registration__form-checkbox__block {
    margin-bottom: 3vw;
  }
  .registration__form-checkbox__label {
    font-size: 2.5vw;
  }
}
@media (max-width: 480px) {
  .content-recommended__box:nth-child(3n) {
    margin-right: auto;
  }
  .rating {
    width: 48vw;
  }
  .speaker__sidebar-link {
    background-size: 6vw;
  }
  .speaker__biography-title, .speaker__photo-title {
    text-align: center;
  }
  .subscription-comments__video-upload {
    border-radius: 0.5vw;
  }
  .subscription-comments__area {
    font-size: 3vw;
    &::placeholder {
      font-size: 3vw;
    }
  }
  .subscription-comments__items-photo img {
    width: 13vw;
  }
  .subscription-comments__items-like {
    padding-left: 5vw;
    background-size: 4vw;
    font-size: 3vw;
  }
  .subscription-comments__items-dislike {
    padding-left: 5vw;
    background-size: 4vw;
    font-size: 3vw;
  }
  .subscription-description__content {
    font-size: 4vw;
  }
  .subscription-comments__items-name {
    font-size: 3vw;
  }
  .subscription-description__characteristic-information {
    width: 92vw;
  }
  .header-user__bell img {
    width: 4vw;
  }
  .header-user__bookmark img {
    width: 3.5vw;
  }
  .header-user__bell-link::after {
    width: 3vw;
    height: 3vw;
    top: 2.5vw;
    right: -1vw;
    font-size: 2vw;
    line-height: 3vw;
  }
  .header-user__bookmark-link::after{
    width: 3vw;
    height: 3vw;
    top: 2.5vw;
    right: -1vw;
    font-size: 2vw;
    line-height: 3vw;
  }
  .content-program__purchase-bottom span {
    background-size: 3vw;
  }
  .content-program__purchase-link {
    width: 20vw;
    height: 6vw;
    border-radius: 0.5vw;
    line-height: 6vw;
  }
  .content-subscription {
    border-radius: 1vw;
  }
  .speaker__box-video {
    font-size: 2vw;
    margin-top: 59px;
    margin-right: 0;
  }
  .about__text {
    font-size: 4vw;
    width: 95vw;
  }
 .partners__content-selection .content-speaker__box span {
    margin-left: 8vw;
   display: flex;
  }
  .partners__block-upload .header-subscribe__btn {
    margin: 5vw auto 0;
  }
  .block-upload__function-text {
    margin-bottom: 2vw;
    font-size: 2.5vw;
    padding-left: 4vw;
    background-size: 2.5vw;
  }
  .block-upload__video-play {
    width: 6vw;
    height: 6vw;
    top: 20vw;
    left: 36vw;
    background-size: 5.5vw;
  }
  .block-upload__function {
    margin: 4vw auto;
  }
  .partners__block-upload {
    flex-direction: column;
  }
  .block-upload__video {
    width: 76vw;
    height: 43vw;
    margin: auto;
  }
  .partners__brands .content-speaker__gallery .slick-prev {
    left: 0;
  }
  .partners__brands .content-speaker__gallery .slick-next {
    right: 10px;
  }
  .partners__advantages-box {
    font-size: 4vw;
    width: 94vw;
    margin-bottom: 5vw;
    img {
      width: 8vw;
    }
  }
  .partners__advantages {
    flex-direction: column;
  }
  .partners__block {
    flex-wrap: wrap;
    padding-top: 4vw;
  }
  .partners__row-advertising {
    height: 86vw;
  }
  .partners__advertising-title {
    top: -9vw;
  }
  .partners__block2 {
    flex-direction: column;
  }
  .block2-items__time {
    padding-left: 4vw;
    font-size: 3vw;
    bottom: 2vw;
    left: 2.5vw;
    background-size: 3vw;
  }
  .block2-items__play {
    width: 7vw;
    height: 7vw;
    bottom: 18vw;
    left: 33vw;
    background-size: 6.5vw;
  }
  .partners__block2-video {
    width: 67vw;
    margin: 4vw auto 0;
    img {
      border-radius: 2vw;
    }
  }
  .block2-items__close-lock {
    top: 2vw;
    right: 5vw;
    width: 3vw;
    height: 3vw;
    background-size: 2vw;
  }
  .block2-items__close-cross {
    top: 2.2vw;
    right: 2vw;
    width: 2vw;
    height: 2.5vw;
    background-size: 2vw;
  }
  .partners__block-post {
    margin-right: 0;
    margin-bottom: 2vw;
    width: 94vw;
    height: 22vw;
  }
  .partners__block2-text {
    width: 94vw;
    text-align: center;
    p {
      font-size: 2.5vw;
      line-height: 4vw;
    }
  }
  .partners__block-text {
    font-size: 3vw;
    img {
      bottom: 1vw;
      width: 3vw;
    }
  }
  .partners__block-link {
    font-size: 5vw;
  }
  .partners__subscription-free .subscription-free__box-text .header-subscribe__btn {
    margin-bottom: 3vw;
  }
  .partners__block-text {
    margin-top: 3vw;
    margin-bottom: 1vw;
  }
  .registration-finish__title{
    font-size: 6vw;
    margin-top: 6vw;
  }
  .registration-finish__text {
    font-size: 3.5vw;
    width: 80%;
    margin: 3vw auto;
  }
  .registration-pay__card-text {
    font-size: 3vw;
  }
  .registration-pay__cvc-text {
    margin-right: 2%;
    text-align: center;
  }
  .registration-period__title {
    font-size: 4.5vw;
  }
  .registration-pay__card-field {
    border: 1px solid #666666;
    text-align: center;
  }
  .registration-pay__card {
    height: 53vw;
  }
  .user-help__sidebar {
    width: 95vw;
    height: 261px;
    border-radius: 1vw;
  }
  .user-help__sidebar-link {
    width: 81vw;
    margin-left: 6vw;
  }
  .user-help__section p {
    font-size: 3.5vw;
    line-height: 5vw;
  }
  .user-update .content-recommended__link {
    width: 22vw;
    height: 8vw;
    font-size: 3vw;
    line-height: 7vw;
    top: 26vw;
    right: 4vw;
  }
  .user-update__mark-new {
    width: 8vw;
    height: 8vw;
    margin-right: 3vw;
    line-height: 8vw;
  }
  .user-update .content-recommended__box {
    width: 80%;
    img {
      outline: none;
      border-radius: 1.7vw;
    }
  }
  .user-story__subtitle {
    margin-top: 5vw;
    padding-bottom: 1vw;
    font-size: 3vw;
  }
  .user-story__append {
    width: 4vw;
    margin: 4vw auto 8vw;
  }
.user-story  .speaker__bookmarks-time {
    margin-right: 0;
  }
  .user-story__date {
    margin-right: 1vw;
    margin-left: 2vw;
  }
  .user-story .speaker__subscribe-name {
    font-size: 2.5vw;
  }
  .user-story .speaker__subscribe-text {
    display: block;
    font-size: 2vw;
  }
  .user-story .speaker__subscribe-link {
    font-size: 2.5vw;
  }
 .user-purchases .subscription-comments__video-autoplay {
    font-size: 3vw;
  }
  .user-profile__person-inner {
    flex-direction: column;
  }
  .user-profile2__title {
    font-size: 6vw;
  }
  .user-profile__person-phone {
    margin-top: 1.3vw;
    margin-left: 0;
    padding-left: 5vw;
    font-size: 3vw;
    background-size: 3vw;
  }
  .user-profile__person-phone .user-profile__edit, .user-profile__person-mail .user-profile__edit {
    width: 2.5vw;
    margin-left: 2vw;
  }
  .user-profile__person-mail {
    margin-top: 1.7vw;
    margin-left: 0;
    padding-left: 6vw;
    line-height: 3vw;
    font-size: 3vw;
    background-size: 4vw;
  }
  .user-profile__application-form__items {
    font-size: 3.5vw;
  }
  .user-profile__application-form .user-profile__edit {
    width: 3vw;
  }
  .user-profile__save-link {
    border-radius: 1vw;
    font-size: 3.5vw;
    width: 30vw;
    height: 10.5vw;
    line-height: 10vw;
    margin: auto;
  }

  .user-title {
    font-size: 3.5vw;
    img {
      padding-right: 4vw;
      width: 9vw;
    }
  }
  .user-profile .user-title, .user-profile2 .user-title {

    img {
    width: 7vw;
  }
  }
  .user-certificate__append {
    flex-wrap: wrap;
  }
  .user-certificate__text {
    font-size: 3vw;
  }
  .user-certificate__append .search-filter__field {
    width: 100%;
  }
  .user-certificate__append-link {
    display: block;
    margin: auto;
    width: 25vw;
    height: 7.5vw;
    line-height: 7.5vw;
    font-size: 3.5vw;
  }
  .user-connected__box {
    margin-right: 0;
  }
  .subscription__breadcrumb-link {
    font-size: 3vw;
  }
  .user-custumer .user-menu__title-link {
    font-size: 2.5vw;
  }
  .user-card__block-number {
    line-height: 0;
    margin-top: 6vw;

    span {
      line-height: 0;
    }

    p {
      margin-top: 5vw;
    }
  }
  .user-card__block-number::after {
    top: -1vw;
  }
  .user-card__append-text {
    font-size: 3.5vw;
  }
  .user-card__append-link {
    border-radius: 0.5vw;
    font-size: 4vw;
    line-height: 5vw;
    padding: 3vw 5vw;
  }


  .user-custumer__blocks-info {
    width: 22vw;
    padding-top: 2vw;
    padding-left: 2vw;

    img {
      margin-right: 1vw;
      width: 2.3vw;
    }
  }
  .user-custumer__banner p {
    font-size: 3.5vw;
    line-height: 4vw;
    width: 56vw;
    top: 9vw;
    right: -5vw;
  }
  .user-custumer__banner span {
    font-size: 1.9vw;
    line-height: 1vw;
    margin-top: 2vw;
  }
  .settings-requisites__mail-link {
    margin-top: 25px;
  }
  .settings-requisites__mail-icon {
    margin-top: 30px;
  }
  .settings-requisites__mail-edit {
    top: 3vw;
    width: 2.5vw;
  }
  .settings-requisites__phone {
    line-height: 4vw;
  }
  .settings-subscribe__properties-text {
    font-size: 4vw;
  }
  .settings-subscribe__properties-filter {
    width: 3.5vw;
  }
  .settings-subscribe__properties-edit img {
    width: 2.5vw;
  }
  .settings-subscribe__activation {
    margin-top: 2vw;
    font-size: 3.5vw;
    line-height: 5vw;

    span {
      font-size: 3vw;
    }
  }
  .settings-subscribe__activation::before {
    top: 1vw;
  }
  .user-custumer__menu-links {
    font-size: 3vw;
    padding-left: 2vw;
  }
  .user-cabinet__amount {
    line-height: 3vw;
    background-size: 3vw;
  }
  .user-custumer .user-cabinet__person-image {
    width: 9vw;
  }
  .user-custumer__menu-items img {
    width: 3.5vw;
  }
  .activate-speakers__box .speaker__bookmarks-time::before {
    background-size: 4vw;
    height: 5vw;
    width: 4vw;
    right: 3vw;
  }
  .activate-speakers__box .speaker__bookmarks-like::after {
    right: -4vw;
    top: 0;
    height: 5vw;
    background-size: 5vw;
    width: 5vw;
  }
  .speaker__box-name .speaker__bookmarks-like::after {
    right: 36px;
  }
  .activate-speakers__box-number {
    top: 3.5vw;
    font-size: 4vw;
  }
  .activate-speakers__box {
    width: 40vw;
    margin-right: 2vw;
  }
  .activate-speakers__box-text {
    font-size: 4vw;
    line-height: 5vw;

    span {
      font-size: 2.4vw;
      line-height: 3vw;
    }
  }
  .speaker-title__box .content-block__title {
    font-size: 4vw;
  }
  .speaker-video__link-more {
    height: 40px;
  }
  .speaker-video__buy-time {
    font-size: 2vw;
    line-height: 4vw;
    padding-left: 4vw;
    background-size: 3vw;
    right: 21vw;
    bottom: 3.5vw;
  }
  .speaker-video__box-number {
    font-size: 3.5vw;
    margin-top: 0;

    span {
      font-size: 2vw;
    }
  }
  .activate-speakers__box:nth-child(2n) {
    margin-right: 0;
  }
  .activate-speakers__inner {
    width: 91%;
    margin: auto;
  }
  .speaker-video__box-text .speaker__bookmarks-like::after {
    left: 12vw;
  }
  .speaker-video__box-text .speaker__subscribe-bookmark {
    margin: 0 0 6vw;
  }
  .activate-header .header-inner {
    flex-wrap: wrap;
  }
  .activate-header .header-search__field {
    width: 96vw;
  }
  .activate-header .header-right {
    margin-top: 10px;
    width: 100%;
    margin-left: 2vw;
  }
  .header-subscribe__btn {
    width: 50%;
    margin-right: auto;
    font-size: 3vw;
    height: 8vw;
  }
  .activate-index .header-subscribe__btn {
    width: 60%;
  }

  .video__content-items {
    width: 73.8vw;
  }
  .header-user__bookmark {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-user{
    align-items: baseline;
  }
  .speaker__video-link {
    left: 9vw;
    top: 7.5vw;

    img {
      width: 3vw;
    }
  }
  .content-podcast__box {
    width: 75vw;
  }
  .content-podcast__box-link {
    font-size: 5vw;
  }
  .speaker__subscribe-year {
    font-size: 2vw;
  }
  .speaker__subscribe-name {
    font-size: 3vw;
  }
  .speaker__subscribe-text {
    display: block;
    font-size: 2.5vw;
  }
  .speaker__subscribe-link {
    font-size: 3vw;
    width: 70%;
  }
  .speaker__block-image {
    width: 20vw;
  }
  .speaker__progress span {
    margin-left: 0.5vw;
  }
  .speaker__section .select-current img {
    margin-bottom: 1.1vw;
    width: 3vw;
  }
  .speaker__personal-items {
    font-size: 2.5vw;
    width: 20.9vw;
  }
  .speaker__personal-characteristic a {
    font-size: 2.6vw;
  }
  .content-selection__box-year {
    top: 25.5vw;
    left: 14.5vw;
  }
  .content-selection__box-link {
    top: 31vw;
    left: 14.5vw;
  }
  .content-selection__gallery {
    width: 82%;
    margin: auto;
  }
  .content-selection__box-title {
    width: 65%;
  }
  .subscription-comments__items-like {
    padding-left: 7vw;
  }
  .subscription-comments__items-dislike {
    padding-left: 7vw;
  }
  .search-filter__second {
    font-size: 3.5vw;
  }
  .search-filter__box {
    width: 49%;

    &::after {
      top: -4.1vw;
      left: 40vw;
    }
  }
  .subscription-share__subtitle .select-current {
    width: 78%;
  }
  .search-filter__field::placeholder {
    font-size: 4vw;
  }
  .search-filter__checkbox {
    font-size: 3.5vw;
  }
  .search-filter__option {
    padding-left: 5.5vw;
  }
  .search-filter__inner {
    flex-wrap: wrap;
  }
  .search-filter__option::after {
    left: 108px;
  }
  .content-speaker__gallery .slick-prev {
    top: 25vw;
  }
  .content-speaker__gallery .slick-next {
    top: 25vw;
  }
  .content-speaker__box span {
    font-size: 3.7vw;
  }
  .main-slider__title {
    top: 5vw;
  }
  .main-slider__right-text {
    width: 37vw;
  }
  .main-slider__right {
    margin-left: 10vw;

    span {
      margin-left: 9.5vw;
    }
  }
  .main-slider__link {
    font-size: 2vw;
    width: 25vw;
  }
  .main-slider__arrows .slick-next {
    height: 13px;
    width: 13px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
  }
  .main-slider__arrows .slick-prev {
    height: 13px;
    width: 13px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
  }
  .content-program__purchase {
    width: 100%;
  }
  .content-program__purchase-bottom {
    bottom: 4vw;
    right: 4vw;

    span {
      padding-left: 5vw;
      font-size: 3vw;
    }
  }
  .header-search {
    width: 60vw;
  }
  .header-search__field {
    padding-right: 13vw;
    width: 100%;
  }
  .header-search__sliders {
    right: 8vw;
    width: 3vw;
    img {
      width: 3vw;
    }
  }
  .header-search__btn {
    width: 3vw;
    margin-right: 1vw;
  }
  .content-program__purchase-right {
    font-size: 4vw;
    margin-left: 35vw;
  }
  .content-program__purchase-link {

    font-size: 3vw;
  }
  .content-program__purchase-top {
    top: 5vw;
  }
  .content-recommended__text {
    font-size: 3vw;
  }
  .content-recommended__box {
    width: 75vw;
    margin: auto;
  }
  .footer-date {
    font-size: 2.5vw;
  }
  .content-subscription__cross img {
    max-width: 57%;
  }
  .subscription-gallery__images img {
    width: 100%;
  }
  .content-selection__gallery .slick-prev {
    top: 17vw;
    left: 6vw;
  }
  .content-selection__gallery .slick-next {
    top: 17vw;
    right: 6vw;
  }
  .subscription-gallery__images::before {
    left: 33vw;
    top: 16vw;
  }
  .subscription-speakers__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscription-speakers__text {
    font-size: 5vw;
    text-align: center;
  }
  .content-recommended__link {
    right: 5vw;
    top: 27vw;
    font-size: 3vw;
    line-height: 6.5vw;
    width: 22vw;
    height: 7vw;
  }
  .content-block .content-block__title {
    font-size: 3.5vw;
  }
  .content-block .content-block__link {
    font-size: 3vw;
  }
  .menu-logon {
    font-size: 16px;
  }
  .frame__text {
    padding-top: 9vw;
  }
  .subscription-free__box-text {
    p {
      font-size: 5vw;
    }

    span {
      width: 100%;
    }
  }
  .subscription-free__image3 {
    right: -6px;
  }
  .subscription-free__image-link {
    top: 17vw;
    left: 34vw;
  }
  .subscription-free__image1 {
    width: 71vw;
  }
  .subscription-free__image2 {
    width: 71vw;
    right: 20px;
  }
  .subscription-free__image3 {
    width: 71vw;
  }
  .subscription-free__box-image {
    width: 82vw;
    height: 40vw;
  }
  .user-cabinet {
    width: 100vw;
  }
  .user-cabinet__news {
    right: 59px;
  }
  .registration__form-btn {
    border-radius: 0.5vw;
    width: 24vw;
    height: 7vw;
  }
  .registration__form-checkbox__label::before {
    margin-right: 2vw;
    width: 3vw;
    height: 3vw;
  }
  .registration__form-btn__link {
    font-size: 3vw;
    align-items: center;
    display: block;
  }
  .registration__title-step::before {
    border: 1px solid #999999;
  }
  .registration__title-step::before {
    right: -14vw;
    width: 13vw;
  }
  .registration__title-step2::after {
    border: 1px solid #999999;
  }
  .registration__title-step2::after {
    right: -14vw;
    width: 13vw;
  }
  .registration__form-checkbox__label::after {
    left: 1vw;
    height: 3vw;
    top: 0;
  }
}
