
.video__box-view {

  img {
    border-radius: 10px;
  }
}

.video__content {
  display: flex;
  flex-wrap: wrap;
}

.video__content-items {
  position: relative;
  margin-right: 20px;
}

.video__items-date {
  position: absolute;
  top: 5px;
  left: 15px;
  background: url("../img/clock.svg") no-repeat left;
  padding-left: 20px;
}

.video__items-text {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;

  span {
    display: block;
    color: #999999;
    font-size: 12px;
  }
}

.video .slick-dots button {
  background: #999999;
}
