@font-face {
  font-family: 'Gilroy-Thin';
  src: url('../fonts/Gilroy-Thin.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Regular.woff') format('woff'),
  url('../fonts/Gilroy-Regular.ttf') format('truetype'),
  url('../fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms-Thin';
  src: url('../fonts/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Thin.otf') format('opentype'),
  url('../fonts/TTNorms-Thin.woff') format('woff'),
  url('../fonts/TTNorms-Thin.ttf') format('truetype'),
  url('../fonts/TTNorms-Thin.svg#TTNorms-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Book.woff') format('woff'),
  url('../fonts/FuturaPT-Book.ttf') format('truetype'),
  url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h2 {
  color: #FFFFFF;
}

body {
  background: #141414;
  color: #FFFFFF;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.slick-slide {
  outline: none;
}
