.header {
  background: #1F1F1F;
  display: flex;
  align-items: center;
  height: 80px;
}

.header-menu {
  text-align: right;
}

.header-menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.header-menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.header-menu__icon span:nth-child(1) {
  top: 0;
}

.header-menu__icon span:nth-child(2), .header-menu__icon span:nth-child(3) {
  top: 13px;
}

.header-menu__icon span:nth-child(4) {
  top: 26px;
}

.header-menu__links-item {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  margin-left: 45px;
  &:hover{
    text-decoration: none;
    color: #ec1c24;
  }
}


.header-menu.header-menu__state__open .header-menu__icon span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.header-menu.header-menu__state__open .header-menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.header-menu.header-menu__state__open .header-menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.header-menu.header-menu__state__open .header-menu__icon span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.header-menu.header-menu__state__open .header-menu__links {
  display: block;
  list-style: none;
  padding-left: 0;
  text-align: initial;
}

.header-logo{
  display: flex;
  margin-left: 26px;
  flex-grow: 1.1;
}

.logo {
  margin-left: 3vw;
}
.header-search {
  flex-grow: 1.37;
}
.header-search__form {
  position: relative;
  display: flex;
  width: 523px;
}

.header-search__field {
  background: #FFFFFF;
  width: 523px;
  height: 50px;
  border-radius: 5px;
  border-width: 0;
  padding-left: 10px;
  padding-right: 80px;
}

.header-search__field:focus {
  border: none;
  outline: none;
}

.header-user {
  display: flex;
  align-items: center;
  flex-grow: 0.12;
}

.header-search__btn {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  background: none;
  border: none;
}


.header-search__sliders {
  top: 10px;
  position: absolute;
  right: 45px;
}

.header-search__search2 {
  padding-left: 1vw;
  padding-right: 1vw;
}

.header-user__photo-link {
  img {
    border-radius: 50px;
  }
}

.header-user__bell-link {
  position: relative;
}

.header-user__bell-link::after {
  content: attr(data-bell);
  width: 15px;
  height: 15px;
  background-color: #ec1c24;
  top: 12px;
  right: -6px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  position: absolute;
  line-height: 17px;
  border-radius: 50%;
}

.header-user__bookmark {
  margin-left: 25px;
  margin-right: 38px;
}

.header-user__bookmark-link {
  position: relative;
}

.header-user__bookmark-link::after {
  content: attr(data-bookmark);
  width: 15px;
  height: 15px;
  background-color: #ec1c24;
  top: 12px;
  right: -7px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  position: absolute;
  line-height: 15px;
  border-radius: 50%;
}
